---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=Chile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=60575 t=1505073293855466
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"5489":{"pageid":5489,"ns":0,"title":"Chile","revisions":[{"timestamp":"2017-09-03T16:57:09Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{other
        uses}}\n{{pp-semi|expiry=20 January 2020|small=yes}}\n{{pp-move-indef}}\n{{Use
        dmy dates|date=January 2015}}\n{{Coord|30|S|71|W|display=title}}\n{{Infobox
        country\n| conventional_long_name = Republic of Chile\n| native_name = {{native
        name|es|Rep\u00fablica de Chile}}\n| common_name = Chile\n| image_flag = Flag
        of Chile.svg\n| alt_flag = \n| image_coat = Coat of arms of Chile.svg\n| national_motto
        = {{vunblist |{{native phrase|es|\"Por la raz\u00f3n o la fuerza\"|italics=off}}
        |{{raise|0.45em |{{small|\"By right or might\"}}&nbsp;{{lower|0.5em|<ref>{{cite
        web|title=100 peso Coin |url=http://www.bcentral.cl/eng/banknotes-coins/coins/m0100.htm
        |work=[[Central Bank of Chile]] |accessdate=16 September 2012 |deadurl=yes
        |archiveurl=https://web.archive.org/web/20120510231608/http://www.bcentral.cl/eng/banknotes-coins/coins/m0100.htm
        |archivedate=10 May 2012 }}</ref>}}}}}}\n| national_anthem = <br/>''''[[National
        Anthem of Chile]]'''' <div style=\"padding-top:0.5em;text-align:center;\"><center>[[File:United
        States Navy Band - National Anthem of Chile.ogg]]</div></center>\n| image_map
        = Chile (orthographic projection).svg\n| map_width = 220px\n| alt_map = |
        map_caption = Chile shown in dark green; claimed but unrecognised [[Chilean
        Antarctic Territory|Antarctic Territory]] shown in light green.\n| capital
        = [[Santiago]]<sup>a</sup>\n| coordinates = {{Coord|33|26|S|70|40|W|type:city}}\n|
        largest_city = capital\n| official_languages = \n| languages_type = [[National
        language]]\n| languages = [[Chilean Spanish|Spanish]] \n| demonym = Chilean\n|ethnic_groups
        =\n {{unbulleted list\n | 88.9% [[Mestizo]] and [[White Latin American|White]]
        \n | 9.1% [[Mapuche]]\n | 0.7% [[Aymara people|Aymara]]\n | 1% other\n | {{small|(includes
        Rapa Nui, Likan Antai, Quechua, Colla, Diaguita, Kawesq[...]
