---
http_interactions:
- request:
    method: get
    uri: http://ru.tardis.wikia.com/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backend-Response-Time:
      - '0.040'
      X-Trace-Id:
      - b54f54ea-5277-4bd6-916d-53ffa465933c
      X-Span-Id:
      - 473474ca-c65a-4487-9cc2-e4e9b6f0fc61
      Content-Type:
      - application/json; charset=utf-8
      Fastly-Debug-Digest:
      - c44e90597097ccc3cae3177ac6973f97e2c9e604e9b55dc840dbb3493ee1a246
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","*":"\u041c\u0435\u0434\u0438\u0430","canonical":"Media"},"-1":{"id":-1,"case":"first-letter","*":"\u0421\u043b\u0443\u0436\u0435\u0431\u043d\u0430\u044f","canonical":"Special"},"0":{"id":0,"case":"first-letter","*":"","subpages":"","content":""},"1":{"id":1,"case":"first-letter","*":"\u041e\u0431\u0441\u0443\u0436\u0434\u0435\u043d\u0438\u0435","subpages":"","canonical":"Talk"},"2":{"id":2,"case":"first-letter","*":"\u0423\u0447\u0430\u0441\u0442\u043d\u0438\u043a","subpages":"","canonical":"User"},"3":{"id":3,"case":"first-letter","*":"\u041e\u0431\u0441\u0443\u0436\u0434\u0435\u043d\u0438\u0435
        \u0443\u0447\u0430\u0441\u0442\u043d\u0438\u043a\u0430","subpages":"","canonical":"User
        talk"},"4":{"id":4,"case":"first-l[...]
