---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=63795 t=1505160235020921
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.65.105
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=List%20of%20kanji%20by%20concept
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=73175 t=1505160235823932
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.65.105
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"221234":{"pageid":221234,"ns":0,"title":"List
        of kanji by concept","revisions":[{"timestamp":"2017-03-12T20:43:58Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Japanese
        writing}}\nThis ''''''Kanji index method'''''' groups together [[kanji]] that
        describe things that deal with the same concept, for example kanji for numbers
        or kanji for directions.\n\nKanji with multiple meanings may appear more than
        once.\n\n{{TOC right}}\n\n== Physical properties and attributes ==\n\n===
        Colours ===\n{{nowrap|[[wikt:\u8272|\u8272]] Colours;}} \n{{nowrap|[[wikt:\u767d|\u767d]]
        white;}} \n{{nowrap|[[wikt[...]
- request:
    method: get
    uri: https://en.wiktionary.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=42123 t=1505160237119724
      X-Analyt[...]
- request:
    method: get
    uri: https://en.wiktionary.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=%E8%89%B2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=48736 t=15051[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=kanji
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=47510 t=1505160238591561
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.65.105
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"kanji","to":"Kanji"}],"pages":{"37604":{"pageid":37604,"ns":0,"title":"Kanji","revisions":[{"timestamp":"2017-09-11T10:37:49Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{About|the
        characters used in Japanese writing}}\n{{Use mdy dates|date=November 2014}}\n\n''''''Kanji''''''
        ({{lang|ja|\u6f22\u5b57}}; {{IPA-ja|kand\u0291i}} {{Audio|ja-kanji.ogg|listen|help=no}}),
        or ''''kan''ji'''', are the adopted [[logographic]] [[Chinese characters]]
        (''''{{transl|zh|h\u00e0nz\u00ec}}'''')<ref>{{cite book|last1=Taylor|first1=Insup|last2=Taylor|first2=Maurice
        Martin|title=Writing and literacy in Chinese, Korean, and Japanese|year=1995|publisher=John
        Benjamins Publishing Company|location=Amsterdam|isbn=90-272-1794-7|page=305|url=https://books.google.com/books?id=WDw4gBaPjZgC}}</ref>
        that are used in the modern [[Japanese writing system]] along with [[hiragana]]
        and [[katakana]]. The [[Japanese language|Japanese]] term ''''kanji'''' for
        the Chinese[...]
