---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=45045 t=1505072213635407
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&generator=prefixsearch&gpslimit=max&gpssearch=Ukrainian%20hr&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=872167 t=1505072214263532
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","limits":{"prefixsearch":500},"query":{"redirects":[{"index":2,"from":"Ukrainian
        hryvnia sign","to":"Hryvnia sign"}],"pages":{"10210353":{"pageid":10210353,"ns":0,"title":"Ukrainian
        Argentines","index":19,"revisions":[{"timestamp":"2017-07-02T00:24:31Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Infobox
        ethnic group\n|group    = Ukrainian Argentines<br><small>''''Ucraniano-argentinos''''</small>\n|poptime  =  300,000-500,000<ref>[http://www.ucrania.com/Articulos/tabid/57/ctl/Details/mid/388/ItemID/1/language/en-US/Default.aspx,
        Ucrania.com] {{es icon}}</ref>\n\n0.75-1% of Argentina''s population\n| image     =
        [[Image:Ukrainianobera2.JPG|270px]]<br><small>Ukrainian Argentines in parade
        in [[Misiones Province]]</small>\n|popplace = Buenos Aires Province, La Pampa
        Province, Misiones Province, Chaco province, C\u00f3rdoba Province and Chubut
        Province\n|langs    = [[Rioplatense Spanis[...]
