---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=47356 t=1505072171399554
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=Kharkiv%7CKharkov%7CKharkiv,%20Ukraine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=72356 t=1505072172043773
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Kharkov","to":"Kharkiv"},{"from":"Kharkiv,
        Ukraine","to":"Kharkiv"}],"pages":{"2788558":{"pageid":2788558,"ns":0,"title":"Kharkiv","revisions":[{"timestamp":"2017-09-02T11:31:56Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Other
        uses|Kharkiv (disambiguation)|Kharkov (disambiguation)}}\n{{Infobox settlement\n|name=Kharkiv\n|native_name
        = <small>\u0425\u0430\u0440\u043a\u0456\u0432</small>\n|image_skyline=Kharkiv
        montage (2015).png\n|imagesize=\n|image_caption=''''''Counterclockwise:''''''
        [[Dormition Cathedral, Kharkiv|Assumption Cathedral]] (big image), Kharkiv
        city council, [[National University of Kharkiv]], [[Taras Shevchenko]] monument,
        [[Kharkiv Railway station]], [[Derzhprom]]\n|settlement_type    = [[City of
        regional significance (Ukraine)|City of regional significance]]\n|image_flag=Kharkiv-town-flag.svg\n|image_shield=Kharkiv-town-herb.svg\n|shield_size           =
        90px\n|image_blank_emblem    = \n|image_map             = <!-- Charkiw-Ukraine-Map.png  -->\n|nickname=The
        First Capital,<ref>[http://old.atn.ua/newsread.php?id=2042&mode=print \u041f\u0435\u0440\u0432\u0430\u044f
        \u0441\u0442\u043e\u043b\u0438\u0446\u0430]. \u0410\u0422\u041d, 19 \u0434\u0435\u043a\u0430\u0431\u0440\u044f
        2002 \u0433. {{ru icon}}</ref>{{efn|group=1|Kharkiv was a capital of the [[Soviet
        Ukraine]] for some 15 years in 1919\u20131934.}} Smart City\n|map_caption           =
        \n| pushpin_map             = Ukraine Kharkiv Oblast#Ukraine\n| pushpin_label           =
        Kharkiv\n| pushpin_label_position  = \n| pushpin_map_alt         = \n| pushpin_map_caption     =
        \n|subdivision_type      = Country\n|subdivision_name      = {{UKR}}\n|subdivision_type1     =
        [[Oblasts of Ukraine|Oblast]]\n|subdivision_name1     = {{flag|Kharkiv Oblast}}\n|subdivision_type2     =
        [[Administrative divisions of Ukraine|Municipality]]\n|subdivision_name2     =
        Kharkiv City Municipality\n|leader_title          = Mayor\n|leader_name           =
        [[Hennadiy Kernes]]<ref>\n[http://en.interfax.com.ua/news/general/300596.html
        Kernes wins elections for Kharkiv mayor with over 65% of vote], [[Interfax-Ukraine]]
        (31 October 2015)<br>[http://www.ukrinform.net/rubric-economics/1480141-kurchenko_to_finance_kharkivs_preparations_for_eurobasket_2015_301524.html
        FC Metalist President Kurchenko to invest in Kharkiv\u2019s preparations for
        EuroBasket 2015], [[Interfax-Ukraine]] (8 April 2013)</ref>\n|leader_title2
        = [[People''s Deputy of Ukraine|MPs]]:\n|leader_name2 = [[Oleksandr Feldman]]
        <br />Anatoliy Denisenko<br /> Volodymyr Mysyk<br /> [[Vitaliy Khomutynnik]]<br
        /> [[Dmytro Svyatash]]<[...]
