---
http_interactions:
- request:
    method: get
    uri: https://es.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=32218 t=1505076346235012
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Medio"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Especial"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Discusi\u00f3n"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"Usuario"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"Usuario discusi\u00f3n"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia discusi\u00f3n"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"Arch[...]
- request:
    method: get
    uri: https://es.wikipedia.org/w/api.php?action=query&format=json&gcmlimit=max&gcmtitle=Categor%C3%ADa:Grupos%20de%20rock%20de%20Ucrania&generator=categorymembers&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=86597 t=1505076347045803
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","limits":{"categorymembers":500},"query":{"pages":{"5183475":{"pageid":5183475,"ns":0,"title":"Fl\u00ebur","revisions":[{"timestamp":"2016-10-19T18:10:14Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{wikificar|m\u00fasica|t=20120424180712}}\n{{Ficha
        de artista musical\n|nombre          = Fl\u00ebur\n|logo            = [[Archivo:
        Fler.svg|50px]]\n|imagen          = Voynarovskaya Poulatova.jpg\n|tama\u00f1o          =
        250px\n|subt\u00edtulo       = Elena Voynar\u00f3vskaya y Olga Pul\u00e1tova.\n|fondo           =
        grupo_o_banda\n|origen          = [[Odesa]], {{Bandera2|UKR}}\n|estado          =
        Activo\n|estilo          = [[Folk]]<br/>[[[...]
