---
http_interactions:
- request:
    method: get
    uri: https://fr.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=47226 t=1505073299259138
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"M\u00e9dia"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Sp\u00e9cial"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Discussion"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"Utilisateur"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"Discussion utilisateur"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikip\u00e9dia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Discussion Wikip\u00e9dia"},"6":{"id":6,"case":"first-letter","canonical":"File","*"[...]
- request:
    method: get
    uri: https://fr.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=Argentine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=48444 t=1505073299896674
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"42":{"pageid":42,"ns":0,"title":"Argentine","revisions":[{"timestamp":"2017-08-25T21:09:34Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Voir
        homonymes}}\n{{redirect5|Argentina|le genre de poisson|Argentina (genre)}}\n{{Infobox
        Pays\n | nom_local= Rep\u00fablica Argentina \n | langue= es\n | prononciation=
        \n | nom_fran\u00e7ais= R\u00e9publique argentine\n | de= de la&nbsp;\n |
        image_drapeau= Flag of Argentina.svg\n | lien_drapeau= Drapeau de l''Argentine\n
        | image_blason= Coat_of_arms_of_Argentina.svg\n | lien_blason= Blason de l''Argentine\n
        | image_carte= Argentina orthographic.svg\n | devise= Dans l\u2019Union et
        la Libert\u00e9. ({{es}} {{lang|es|En Uni\u00f3n y Libertad}})\n | langues=
        [[Espagnol]]\n | langues_officielles= [[Espagnol]] \n | capitale= [[Buenos
        Aires]]\n | coordonn\u00e9es_capitale= {{coord|34|37|S|58|21|W}}\n | lien_villes=
        Villes d''Argentine\n | titre_plus_grande_ville= Plus grande ville\n | plus_grande_ville=
        [[Buenos Aires]]\n | type_gouvernement= [[R\u00e9publique]] [[f\u00e9d\u00e9ralisme|f\u00e9d\u00e9rale]]\n
        | titre_dirigeant= [[Liste des chefs d''\u00c9tat argentins|Pr\u00e9sident
        de la Nation]]\n | titre_dirigeant2= [[Vice-pr\u00e9sident]]e\n | nom_dirigeant=
        [[Mauricio Macri]]\n | nom_dirigeant2= [[Gabriela Michetti]]\n | superficie_rang=
        8\n | superficie_totale={{unit\u00e9|2791810|km|2}}<ref>L\u2019Argentine revendique
        aussi {{unit\u00e9|1000000|km|2}} en [[Antarctique]], ainsi que les [[\u00eeles
        Malouines]].</ref>\n | pourcentage_eau= 1,1\n | population_rang= 31\n | population_totale=
        43 431 886<ref>CIA World Factbook</ref>\n | population_ann\u00e9e= juillet
        2015\n | densit\u00e9= 15.6\n | type_ind\u00e9pendance= D\u00e9claration d''ind\u00e9pendance\n
        | pays_ind\u00e9pendance= [[Espagne]]\n | date_ind\u00e9pendance= {{date|9|juillet|1816}}\[...]
