---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=Argentine%20Constitution%7CEn%20uni%C3%B3n%20y%20libertad%7CArgentine%20National%20Anthem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=141289 t=1505074121632070
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Argentine Constitution","to":"Constitution
        of Argentina"}],"pages":{"208357":{"pageid":208357,"ns":0,"title":"Argentine
        National Anthem","revisions":[{"timestamp":"2017-06-16T22:01:20Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Infobox
        anthem\n|title         = Himno Nacional Argentino\n|english_title = Argentine
        National Anthem\n|image         = Himno Nacional Argentino.jpg{{!}}border\n|image_size    =
        305px\n|caption       = The Argentine National Anthem being played for the
        first time in [[Mariquita S\u00e1nchez]]''s house (painting by [[Pedro Subercaseaux]])\n|prefix        =
        National\n|country       = {{Flag|Argentina|size=23px}}\n|author        =
        [[Vicente L\u00f3pez y Planes]]\n|lyrics_date   = 1812\n|composer      = [[Blas
        Parera]]\n|music_date    = 1813\n|adopted       = 11 May 1813\n|until         =\n|sound         =
        Himno Nacional Argentino instrumental.ogg\n|sound_title   = \"Argentine National
        Anthem\" (instrumental)\n}}\nThe original ''''''Argentine National Anthem''''''
        ({{lang-es|Himno Nacional Argentino}}) was named ''''{{lang|es|Marcha Patri\u00f3tica}}''''
        (Patriotic March), later renamed ''''{{lang|es|Canci\u00f3n Patri\u00f3tica
        Nacional}}'''' (National Patriotic Song), and then ''''{{lang|es|Canci\u00f3n
        Patri\u00f3tica}}'''' (Patriotic Song). It has been called ''''Himno Nacional
        Argentino'''' since it was published with that name in 1847. Its lyrics were
        written by the Buenos Aires-born politician [[Vicente L\u00f3pez y Planes]]
        and the music was composed by the Spanish musician [[Blas Parera]].<ref>{{cite
        web |url=http://www.casarosada.gov.ar/nuestro-pais/simbolos-nacionales |title=S\u00edmbolos
        Nacionales |publisher=Presidency of the Argentine Nation |language=Spanish
        |trans_title=National Symbols |accessdate=21 November 2011 |quote=La necesidad
        de tener una canci\u00f3n patri\u00f3tica, que surgi\u00f3 con la Revoluci\u00f3n
        de Mayo y que el Triunvirato supo comprender, se ve plasmada hoy en el Himno
        Nacional Argentino, con m\u00fasica de B[...]
