---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=Tropical%20and%20subtropical%20coniferous%20forests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=43946 t=1505073302889771
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"203111":{"pageid":203111,"ns":0,"title":"Tropical
        and subtropical coniferous forests","revisions":[{"timestamp":"2017-07-17T15:30:00Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"[[File:Biome_map_03.svg|thumb|right|400px|Extent
        of Tropical and subtropical coniferous forest regions]]\n\n''''''Tropical
        and subtropical coniferous forests'''''' are a [[tropical forest]] [[biome]].
        They are located in regions of humid climate at [[tropical]] and [[subtropical]]
        latitudes. Most tropical and subtropical coniferous forest [[ecoregion]]s
        are found in the [[Nearctic]] and [[Neotropic]] [[ecozone]]s, from the [[Mid-Atlantic
  [...]
