---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=72211 t=1505072101321151
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=Einstein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=75772 t=1505072101989434
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Einstein","to":"Albert
        Einstein"}],"pages":{"736":{"pageid":736,"ns":0,"title":"Albert Einstein","revisions":[{"timestamp":"2017-09-08T05:57:10Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{redirect|Einstein|the
        musicologist|Alfred Einstein|other people|Einstein (surname)|other uses|Albert
        Einstein (disambiguation)|and|Einstein (disambiguation)}}\n{{pp-semi-indef}}\n{{pp-move-indef}}\n{{Good
        article}}\n{{Infobox scientist\n| name        = Albert Einstein\n| pronounce   =
        {{IPAc-en|\u02c8|a\u026a|n|s|t|a\u026a|n}}<ref>{{cite book|last=Wells|first=John|authorlink=John
        C. Wells|title=Longman Pronunciation Dictionary|publisher=Pearson Longman|edition=3rd|date=3
        April 2008|isbn=1-4058-8118-6}}</ref> {{IPA-de|\u02c8alb\u025b\u0250\u032ft
        \u02c8a\u026an\u0283ta\u026an|lang|Albert Einstein german.ogg}}\n| image       =
        Einstein 1921 by F Schmutzer - restoration.jpg\n| caption     = Albert Einstein
        in 1921\n| birth_date  = {{Birth date|df=yes|1879|3|14}}\n| birth_place =
        [[Ulm]], [[Kingdom of W\u00fcrttemberg]], [[German Empire]]\n| death_date  =
        {{Death date and age|df=yes|1955|4|18|1879|3|14}}\n| death_place = {{nowrap|[[Princeton,
        New Jersey]], U.S.}}\n| children    = [[Lieserl Einstein|\"Lieserl\" Einstein]]
        <br />[[Hans Albert Einstein]] <br />[[Einstein family#Eduard \"Tete\" Einstein
        (Albert''s son)|Eduard \"Tete\" Einstein]]\n| spouse      = {{marriage|[[Mileva
        Mari\u0107]]<br>|1903|1919|end=div}}<br />{{nowrap|{{marriage|[[Elsa L\u00f6wenthal]]<br>|1919|1936|end=her
        death}}<ref>{{cite book |editor-last=Heilbron |editor-first=John L. |title=The
        Oxford Companion to the History of Modern Science |url=https://books.google.com/books?id=abqjP-_KfzkC&pg=PA233
        |date=2003 |publisher=Oxford University Press |isbn=978-0-19-974376-6 |page=233}}</ref>{{sfnp|Pais|1982|p=301}}}}\n|
        residence   = Germany, Italy, Switzerland, Austria (present-day Czech Republic),
        Belgium, United States\n| citizenship = {{Plainlist|\n* Subject of the [[Kingdom
        of W\u00fcrttemberg]] during the German Empire <small>(1879\u20131896)</small><ref
        name=GEcitizen group=note>During the German Empire, citizenship were exclusively
        subject of one of the 27 ''''Bundesstaaten''''</ref>\n* [[Statelessness|Stateless]]
        <small>(1896\u20131901)</small>\n* Citizen of [[Switzerland]] <small>(1901\u20131955)</small>\n*
        Austrian subject of the [[Austro-Hungarian Empire]] <small>(1911\u20131912)</small>\n*
        Subject of the [[Kingdom of Prussia]] during the German Empire <small>(1914\u20131[...]
