---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=54487 t=1505072181622901
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&gcmlimit=max&gcmtitle=Category:Ukrainian%20rock%20music%20groups&generator=categorymembers&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=1008700 t=1505072182263136
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","limits":{"categorymembers":500},"query":{"pages":{"48559533":{"pageid":48559533,"ns":0,"title":"999
        (Ukrainian band)","revisions":[{"timestamp":"2016-11-27T01:20:38Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Multiple
        issues|\n{{refimprove|date=November 2015}}{{primary sources|date=November
        2015}}{{notability|Music|date=November 2015}}}}\n\n{{Infobox musical artist\n|
        name            = 999\n| image           = \n| image_size      = \n| landscape       =
        yes\n| alt             = \n| caption         = \n| background      = group_or_band\n|
        alias           = \n| origin          = [[Lviv]], [[Ukraine]]\n| genre           =
        [[Psychedelic rock]], [[experimental rock]], [[Indie music scene|indie]],
        [[jazz]]\n| years_active    = 1986 \u2014 present \n| label           = \n|
        associated_acts = [[Braty Hadyukiny]] {{\u00b7}} [[Royal hares]]\n| website         =
        \n| current_members = [[Olexander Vedenin]]<br />[[Olena Bukhalova]]<br />[[Yuriy
        Chub]]<br />[[Victor Ryzhyi]]<br />[[Andriy Stepanov]]<br />[[Andriy Voytyuk]]<br
        />[[Hlib Tolstoy]]\n| past_members    = \n}}\n\n''''''999'''''' or ''''''\u00abThree
        nines\u00bb'''''' is an [[Ukraine|Ukrainian]] [[rock band]] from [[Lviv]].\n\n==
        History ==\nThe band was formed in December 1986 by guitarist [[Igor Tolokha]]
        and vocalist [[Olexander Melnik]]. They played for one year. In 1988, band
        was re-formed b[...]
