---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=List%20of%20kanji%20by%20concept
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=54498 t=1505159745255620
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.65.105
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"221234":{"pageid":221234,"ns":0,"title":"List
        of kanji by concept","revisions":[{"timestamp":"2017-03-12T20:43:58Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Japanese
        writing}}\nThis ''''''Kanji index method'''''' groups together [[kanji]] that
        describe things that deal with the same concept, for example kanji for numbers
        or kanji for directions.\n\nKanji with multiple meanings may appear more than
        once.\n\n{{TOC right}}\n\n== Physical properties and attributes ==\n\n===
        Colours ===\n{{nowrap|[[wikt:\u8272|\u8272]] Colours;}} \n{{nowrap|[[wikt:\u767d|\u767d]]
        white;}} \n{{nowrap|[[wikt[...]
- request:
    method: get
    uri: https://en.wiktionary.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=%E8%89%B2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=44123 t=15051[...]
