---
http_interactions:
- request:
    method: get
    uri: https://fr.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=50749 t=1505072136577801
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"M\u00e9dia"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Sp\u00e9cial"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Discussion"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"Utilisateur"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"Discussion utilisateur"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikip\u00e9dia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Discussion Wikip\u00e9dia"},"6":{"id":6,"case":"first-letter","canonical":"File","*"[...]
- request:
    method: get
    uri: https://fr.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content%7Ctimestamp&titles=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=80964 t=1505072137301981
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.49.79
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"681159":{"pageid":681159,"ns":0,"title":"Paris","revisions":[{"timestamp":"2017-09-08T20:04:12Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Semi-protection
        longue}}\n{{Nom prot\u00e9g\u00e9}}\n{{autre1|la capitale de la France}}\n{{Infobox
        Commune de France\n | nom                      = Paris\n | image                    =
        Paris - Eiffelturm und Marsfeld2.jpg\n | l\u00e9gende                  = La
        [[tour Eiffel]], et les gratte-ciel de [[la D\u00e9fense]] en arri\u00e8re-plan.\n
        | blason                   = Grandes Armes de Paris.svg\n | l\u00e9gende blason           =
     [...]
